

body{
  background-color: lightgrey;
}


.margin{
  padding-top: 10px;
  padding-bottom: 50px;
}

#promotion{
  font-family: Arial, Helvetica, sans-serif;
}

.botao{
  background-color: gray;
  color: white;
  border:none;
  padding: 10px 20px;
  cursor:pointer;
  transition: 1s;
  margin: 1px;
}

.botao:hover{
  background-color: white;
  color:red;
}

section .containerq{
  background-color: black;
  color: white;
  padding: 10px;
}

.containerp{
  background-color: black;
  padding-top: 10px;
}

.contato{
  background-color: black;
  color: white;
  font-size: 13px;
}

.carousel-caption{
  color: rgb(255, 255, 255);
}
