
body{
  background-color: lightgrey;
  ;

}

.carousel-inner{
  padding:;
}

.margin{
  padding-top: 10px;
  padding-bottom: 50px;
}

#promotion{
  margin: 5px;
  font-family: cursive;
  padding:0

}
.fotos{
  width: 800px;
  height: 800px;
  margin-bottom: 10px;
}

.botao{
  background-color: gray;
  color: white;
  border:none;
  padding: 10px 20px;
  cursor:pointer;
  transition: 1s;
  margin: 1px;
}

.botao:hover{
  background-color: white;
  color:red;
}

section .containerq{
  background-color: black;
  color: white;
  padding: 10px;
}

.containerp{
  background-color: black;
  padding-top: 10px;
}

.contato{
  background-color: black;
  color: white;
  font-size: 13px;
}
