

body{
  background-color: lightgrey;
}


.margin{
  padding-top: 10px;
  padding-bottom: 50px;
}

#promotion{
  font-family: Arial, Helvetica, sans-serif;
}

.botao{
  background-color: gray;
  color: white;
  border:none;
  padding: 10px 20px;
  cursor:pointer;
  transition: 1s;
  margin: 1px;
}

.botao:hover{
  background-color: white;
  color:red;
}

section .containerq{
  background-color: black;
  color: white;
  padding: 10px;
}

.containerp{
  background-color: black;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  align-items: center;
}

.contato{
  background-color: black;
  color: white;
  font-size: 13px;
}

.carousel-caption{
  color: rgb(255, 255, 255);
}

@media screen and (min-width:350px){
  body{
    margin: 0;
    padding: 0;
    border: 0;

  }
   
  .containerp{
    background-color: black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    padding-left: 70px;    
  }

  .col-lg-6{
    padding-top: 20px;
  }

  .col-lg-3{
    padding-top: 25px;
  }
}